parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        -
            identifier: argument.unknown
            paths:
                - src/Bootloader/CycleOutboxRepositoryBootloader.php
                - src/Bootloader/OutboxRelayBootloader.php
